= form_for @key, :html => {:class => "form-horizontal"} do |f|
  %fieldset
    .control-group
      = f.label :title, 'Title', :class => "control-label"
      .controls
        = f.text_field :title, :class => "input-xlarge"
    .control-group
      = f.label :key, 'Key', :class => "control-label"
      .controls
        = f.text_area :key, :class => "input-xxlarge", :rows => 10
    .form-actions
      = f.submit :class => "btn btn-primary"
      = link_to "Cancel", [:keys], :class => 'btn'
