= render 'layouts/sub_nav'
.row
  .span12
    %h2 New Project
    %hr

.row
  .span12
    = form_for @project, :html => { :class => "form-horizontal" } do |f|
      .control-group
        = f.label :name, 'Name', :class => 'control-label'
        .controls
          .input-prepend
            %span.add-on #{GIT_HOST["git_user"]}@#{GIT_HOST["host"]}
            = f.text_field :name, :class => 'span2'
      .control-group
        = f.label :description, 'Description', :class => "control-label"
        .controls
          = f.text_area :description, :class => "input-xlarge", :rows => 10
      .form-actions
        = f.submit "submit", :class => "btn btn-primary"
