= render 'layouts/subnav'

= render :partial => 'navtabs', :locals => { :p=> @project }

.page-header
  %h1= @project.name

.well
  .input-prepend.form-inline
    %span.add-on> git clone
    %input.span6{ :value => project_clone_path(@project) }

- unless @project.description.blank?
  %h1 Description
  %hr
  .well
    = @project.description

%hr

%h1 Events
%hr
%ul.events
  = render @events
-#
  %div
    = link_to "Back to index", [:projects]
    |
    = link_to "Destroy", [:project], :method => :delete
    |
    = link_to "team_members", [@project, :teams]
