= form_for [:admin, @admin_user] ,:html => {:class => 'form-horizontal'} do |f|
  - if @admin_user.errors.any?
    #error_explanation
      %ul
        - @admin_user.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => "input-xlarge", :disabled => !@admin_user.new_record?
  .control-group
    = f.label :password, :class => "control-label"
    .controls
      = f.password_field :password, :class => "input-xlarge"
  - if @admin_user.new_record?
    .control-group
      = f.label :password_confirmation, :class => 'control-label'
      .controls
        = f.password_field :password_confirmation, :class => 'input-xlarge'
  .control-group
    .controls
      = f.label :admin, :class => 'checkbox' do
        = f.check_box :admin
        Admin?

  .form-actions
    = f.submit :class => "btn btn-primary"
    = link_to "Back", admin_users_path, :class => 'btn'
